<div class="card">
  <div class="card-header">{{ title }} ({{ total }} ms)</div>
  <div class="card-body alert-{{ status }}">
      {% if items is defined %}
          {% for item in items %}
            <p>{{ item.type }} - {{ item.uri }} - {{ item.time }} ms</p>
          {% endfor %}
      {% endif %}

      {% if error is defined %}
            <p>{{ error.uri }} - {{ error.message }}</p>
      {% endif %}
  </div>
</div>